@import '../rulesetReader/rulesetReader.css';
@import '../inputStyles.css';
@import '../rulesetCard/rulesetcard.component.css';

.rsCardContainer{
    background-color: lightsteelblue;
    width: calc(100vw - 10pt);
    padding: 5pt;
}
.rsCard{
    margin-bottom: 0;
}

.rsTypeOption{
    display: flex;
    flex-direction: row;
    background-color: lightcyan;
    border: 2pt solid darkslategrey;
    padding: 0pt 10pt 10pt 0pt;
    transition: border 0.25s background-color 0.25s;
    cursor: pointer;
}
.rsTypeOption:hover{
    border: 2pt solid rgb(43, 84, 119);
}
.rsTypeOption-selected{
    background-color: rgb(143, 255, 255);
    border: 2pt solid rgb(43, 84, 119);
}

@media (min-width: 640px) {
    .rsTypeOption{
        width: calc(100% - 20pt);
    }
    .rsTypeOption-selected{
        width: calc(100% - 20pt);
    }
}

@media (min-width: 768px) {
    .rsTypeOption{
        max-width: 75%;
        margin: 1pt 20pt 1pt 20pt;
        align-self: center;
        justify-self: center;
    }
    .rsTypeOption-selected{
        max-width: 75%;
        margin: 1pt 20pt 1pt 20pt;
        align-self: center;
        justify-self: center;
    }
}

.rsTypeRadioSection{
    display: flex;
    min-width: 30pt;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.rsTypeDescriber{
    flex-grow: 3;
    cursor: pointer;
}

.colorSwatch{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: none;
    padding: 6px;
    margin: 3px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.colorSwatch-selected{
    border: 3px solid rgb(127, 187, 240);
    padding: 4px;
}

#RulesetPreviewCard{
    box-shadow: 0px 0px 6px 2px black;
}