
.rsHeader{
    background-color: black;
}

.bg-black{
    background-color: black;
}
.bg-red{
    background-color: #dc2626
}
.bg-green{
    background-color: #22c55e
}
.bg-blue{
    background-color: #0ea5e9
}
.bg-orange{
    background-color: #f97316
}
.bg-purple{
    background-color: #a855f7
}
.bg-yellow{
    background-color: #eab308
}
.bg-grey{
    background-color: #94a3b8
}
.bg-teal{
    background-color: #14b8a6
}
.bg-lime{
    background-color: #84cc16
}
.bg-cyan{
    background-color: #22d3ee
}
.bg-pink{
    background-color: #d946ef
}