
button.unfilled{
    color: #026DC5;
    background: none;
    border: 3px solid #026DC5;
    font-weight: bold;
}
button.unfilled:hover{
    background-color: #E1F1F9;
}

button.err{
    color: darkred;
    background: none;
    border: 3px solid darkred;
    font-weight: bold;
}
button.err:hover{
    background-color: #F09D9D;
}

button.black{
    color: black;
    background: none;
    border: 3px solid black;
    font-weight: bold;
}
button.black:hover{
    background-color: rgb(198, 198, 198);
}
button.black:focus{
    border: 3px solid white;
}

button.white{
    color: white;
    background: none;
    border: 3px solid white;
    font-weight: bold;
}
button.white:hover{
    background-color: rgb(71, 71, 71);
}
