@import './sharedStyles.css';
@import './rulesetReader/rulesetReader.css';

.rsCardView{
    background-color: lightsteelblue;
    padding: 10pt;
    flex-grow: 1;
}

.centered{
    align-self: center;
    justify-self: center;
}
