@import 'utilityStyles.css';

h1 h2 h3 h4 h5 h6{
    font-family: 'ubuntu';
}

a{
    text-decoration: none;
    color: black;
}

p div input a{
    font-family: 'inter';
}

img.icon{
    height: 20pt;
    aspect-ratio: 1;
}
img.icon-lg{
    height: 40pt;
    aspect-ratio: 1;
}
img.icon-fill{
    width: 100%;
    aspect-ratio: 1;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.rsHeader{
    background-color: black;
    color: white;
    padding: 6pt;
    margin-top: 0;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

button{
    font-size: medium;
    font-family: 'ubuntu';
    border-radius: 6px;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button.filled{
    color: white;
    background-color: rgb(34, 125, 199);
    transition: 0.25s background-color;
}
button.filled:hover{
    background-color: rgb(58, 177, 228);
}

button.unfilled{
    color: rgb(34, 125, 199);
    background: none;
    border: 3px solid rgb(34, 125, 199);
    font-weight: bold;
    transition: 0.25s border;
    transition: 0.25s background;
}
button.unfilled:hover{
    background-color: rgb(58, 177, 228);
}

button.err{
    color: darkred;
    background: none;
    border: 3px solid darkred;
    font-weight: bold;
    transition: 0.25s border;
    transition: 0.25s background;
}
button.err:hover{
    background-color: rgb(239, 149, 149);
}

button.fill-grey{
    color: white;
    background-color: lightslategrey;
    transition: 0.25s background-color;
}
button.fill-grey:hover{
    background-color: lightslategrey;
}

button.black{
    color: black;
    background: none;
    border: 3px solid black;
    font-weight: bold;
    transition: 0.25s border;
    transition: 0.25s background;
}
button.black:hover{
    background-color: rgb(198, 198, 198);
}
