h1 h2 h3 h4 h5 h6{
    font-family: 'ubuntu';
}

:focus{
    border: 3px solid white;
}

a{
    text-decoration: none;
    color: black;
}

p div input a{
    font-family: 'inter';
}

img.icon{
    height: 20pt;
    aspect-ratio: 1;
}
img.icon-fill{
    width: 100%;
    aspect-ratio: 1;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

button{
    font-size: medium;
    font-family: 'ubuntu';
    border-radius: 6px;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.25s background-color, 0.25s border;
}
button:focus{
    border: 3px solid black;
}

button.filled{
    color: white;
    background-color: #026DC5;
}
button.filled:hover{
    background-color: rgb(58, 177, 228);
}
