.flex-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.flex-col{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

.margin-s{
    margin: 3pt;
}
.margin-m{
    margin: 6pt;
}

.sticky{
    position: sticky;
    top: 0;
}

.centerContent{
    display: flex;
    align-items: center;
}