/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    font-family: 'inter';
}

table{
    border-spacing: 0;
}
table.table-flex{
    width: 100%;
}

tr{
    background-color: rgb(113, 162, 207);
}
tr:nth-child(odd){
    background-color: lightsteelblue;
}

td{
    padding: 6px;
    align-content: center;
    cursor: pointer;
}
th{
    padding: 6px;
    align-content: center;
    text-align: left;
    cursor: pointer;
}

td.td-small{
    max-width: 6em;
}
.tdSelected{
    border: 3px solid rgb(34, 125, 199);
    padding: 3px;
}

strong{
    font-family: 'ubuntu';
    color: rgb(34, 125, 199);
}

a{
    text-decoration: none;
}

button{
    font-size: medium;
    font-family: 'ubuntu';
    border-radius: 6px;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
}